div.search {
	clear: both;
	width: 1024px;
	height; 500px;
	padding: 20px;
	//background: blue;
	float: left;
	
}

div.search img {
	margin: 10px;
	padding: 0px;
	padding-right: 80px;
	border: 0px;
	float: left;
	width: 600px;
	height: 400px;
	//background: red;
}

div.search p{
	font-size: 1.25em;
}

div.search h2 {
	padding-top: 30px;
}

textarea{
resize:none
}
div.item img {
	width:600px;
	height:450px;
	margin-right: 30px;
	white-space: normal;
	text-wrap:normal;
	word-wrap:break-word;
	float:left;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	border-radius:5px;
}
div.item h2 {
}
p.idescription {
	white-space: normal;
	text-wrap:normal;
	word-wrap:break-word;
	padding: 20px 0px;

}
div.item input[type="text"] {
	margin: 10px 0px;
	padding: 0px;
	border: 1px solid #829FF7;
	height: 25px;
	width: 150px;
	border-radius:5px;

}
div.item input[type="submit"],div.item input[type="button"]{
	margin: 10px 0px;
	padding: 0;
	border: 0;
	 -webkit-appearance: button;
	height: 25px;
	width: 150px;
	background:#829FF7;
	border-radius:5px;
}
table {
	margin: 10px auto;
	padding: 0px;
	border: 0px;
	width: 800px;
	max-height: 500px;
	border-radius: 10px;
}
th {
	width: 200px;
}
table,th,td {
    border:1px solid black;
    border-collapse:collapse;
}
th,td {
    padding:5px;
}
th {
    text-align:center;
    background-color:green;
    color:white;
}

#searchform {
	position: relative;
	top: 15px;
}
#content {
	margin: 0;
	padding: 0;
	border: 0;
	float:left;
	width: 1024px;
	min-height: 600px;
	//outline: 1px solid red;
}

body {
	font-size: 1em;
	margin:20px 0;
	padding:0;
	border:0;
}

input.leftmargin {
	margin-left: 300px;
	position: absolute;
	left:0;
}
div {
	//outline: 1px solid red;
}
/* div */    
#container {
	width: 1024px;
	position: relative;
	white-space: nowrap;
	margin: 0 auto;
	padding: 0;
	border: 0;
}



.navigation {
	margin-bottom:0;
}

div.accountlist {
	padding: 0px;
	border: 0px;
	margin: 0px;
	border-radius: 10px;

}
ul.accountinfo {
	padding: 0px;
	border: 0px;
	margin: 0px;
	list-style: none;
	position: relative;
	width: 900px;
	height: 30px;
	margin: 20px auto;
	background:#829FF7;
	border-radius: 10px;

}
ul.accountinfo li{
	padding: 0px;
	border: 0px;
	margin: 0px;
	list-style: none;
	float:left;
	height:30px;
	width:150px;
	text-align:center;
	line-height:30px;
	outline: 1px solid white;
	
}
ul.accountinfo li:hover {
	background:white;
}
nav ul {
	margin: 0;
	padding: 0;
	border: 0;
	display: inline-table;
	border-radius: 10px;
	list-style: none;
	width: 1025px;
	background: #F6CECE;
	/* 0-leftright 90-downup 180-rightleft 270-updown*/
	/*0-downup 90-leftright 180-updown 270-rightleft*/
	background: -moz-linear-gradient(270deg, #819FF7, #FFFFFF);
	background: -webkit-linear-gradient(270deg, #819FF7,#FFFFFF); 
	background: linear-gradient(180deg, #819FF7, #FFFFFF); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
}
nav ul li {
	float: left;
	white-space:nowrap;
}

nav ul li:hover {
	border-radius:10px;
	background: #4b545f;
	background: -moz-linear-gradient(270deg, #1975FF, #819FF7,#1975FF);
	background: -webkit-linear-gradient(270deg, #1975FF,#819FF7,#1975FF);
	background: linear-gradient(180deg, #1975FF, #819FF7,#1975FF);
}
nav ul li a {
	display: block;
	width: 204.8px;
	height: 50px;
	line-height: 50px;
	color: #757575;
	text-decoration: none;						
	text-align:center;
}
nav ul li ul {
	display: none;	
	width:204.8px;
	background: #829FF7; 
	border-radius: 0px; 
	position: absolute;
	z-index: 1;
}

nav ul li:hover ul {
	display: block;	
}


nav ul li:hover a {
	color: #fff;						
}
nav ul li ul li {
	/*float: none; */
	/*border-top: 1px solid #829FFF;
	border-bottom: 1px solid #829FFF;*/
}					
nav ul li ul li a{
	text-align:center;	
}


.featured {
	/*background-color: #E0E6F8;*/
	width: 1024px;
	height: 700px;
	border-radius: 5px;
	border-style: solid;
	border-color: #FCFFFF;
	padding: 0px;
	border: 0px;
	margin: 0px;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	position: relative;
	float: left;
	//outline: 1px solid red;
}
.longer {
	padding: 0px;
	border: 0px;
	margin: 0px;
	height: 800px;
}
.profile, .startselling,.data {
	width:820px;
	height: 600px;
	padding: 40px;
	border: 0px;
	margin: 0px auto;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	position:absolute;
	left:0px;
	top: 30px;
	display:none;
	text-align:left;
	overflow:auto;


}
.topleft{
	padding: 0px;
	border: 0px;
	padding: 0px;
	position: relative;
	top:30px;
	left:30px;
	text-align: left;
}
div.featured h2{
	padding: 0px;
	border: 0px;
	margin: 0px;
	color:black;
	position: relative;
	line-height: 50px;
	padding-left: 10px;
	/*background: yellow;*/
	//outline: 1px solid red;
}

div.featured div.additem {
	float: left;
}

div.featured img {
	width: 1024px;
	height: 650px;
	position: relative;
	border-radius:5px;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	//outline: 1px solid red;
}

/* body */
.article {
	width: 502px;
	height: 400px;
	position: relative;
	border-radius: 5px;
	border-style: solid;
	border-color:#FCFFFF;
	border: 0px;
	margin:5px;
	padding:0px;
	float: left;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	//outline: 1px solid red;
}

div.article div.middle {
	margin: 0px;
	margin-top: 120px;
	text-align: center;
}
div.article h2.h2black {
	padding: 0px;
	border: 0px;
	margin: 0px;
	color:black;
	position: relative;
	padding-left: 10px;
	line-height: 50px;
	background: white;
	//outline: 1px solid red;
}
div.article img {
	width: 502px;
	padding: 0px;
	height: 350px;
	position: absolute;
	z-index: 1;
	outline: 1px solid #EBEBE0;
	border-radius:5px;
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	//outline: 1px solid red;
}
div.article p.description {
	display:none;
	padding: 10px;
	border: 0px;
	margin: 0px;
	width: 482px;
	height: 330px;
	position: absolute;
	z-index: 1;
	font-size: 1.5em;
	white-space: normal;
	text-wrap:normal;
	word-wrap:break-word;
	background: white;
	outline: 1px solid #EBEBE0;
}

input[type="text"],input[type="password"]{
	height: 25px;
	width: 250px;
	margin:10px 0px;
}
input[type="radio"] {
	margin: 10px 15px 10px 0px;
}
select {
	height: 25px;
	width: 250px;
}
input[type="submit"],input[type="button"]{
	 -webkit-appearance: button;
	height: 25px;
	width: 100px;
	background:#829FF7;
}
a {
	text-decoration: none;
}


#footer {
	position: relative;
	top: 10px;
	width: 1025px;
	clear: both;
}
#footer ul{
	padding:0;
	margin:0;
	border:0;
	display: inline-table;
	list-style-type:none;
	text-align: center;
	clear: both;
	/*
	background: #F6CECE;
	background: -moz-linear-gradient(270deg, #819FF7, #FFFFFF);
	background: -webkit-linear-gradient(270deg, #819FF7,#FFFFFF); 
	background: linear-gradient(180deg, #819FF7, #FFFFFF); 
	 */
	/* 0-leftright 90-downup 180-rightleft 270-updown*/
	/*0-downup 90-leftright 180-updown 270-rightleft*/
 	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);

	border-radius: 10px;

}
li.bottom_nav_item {
	float:left;
	white-space:nowrap;
}
/*
li.bottom_nav_item:hover{
	background: #4b545f;
	background: -moz-linear-gradient(270deg, #1975FF, #819FF7,#1975FF);
	background: -webkit-linear-gradient(270deg, #1975FF,#819FF7,#1975FF);
	background: linear-gradient(180deg, #1975FF, #819FF7,#1975FF);
	border-radius:10px;
}
*/
li.bottom_nav_item a {

	display: block; 
	width: 204.8px;
	height:50px;
	line-height:50px;
	color: #000000;
	text-decoration: none;
	text-align:center;
}

/*
form input:focus {
background-color: yellow;
}
 */
	/*
	.assoctext {
	background-color: #FFFFFF;
	height: 100px;
	font-family: times new roman;
	font-size: 50px;
	color: black;
	white-space: nowrap;
	}

	.subhead {
	background-color: #F0F0F0;
	color: black;
	}
	.image {
	}
	 */

a:link {color:#000000;text-decoration:none}    /* unvisited link */
a:visited {color:#000000;text-decoration:none} /* visited link */
a:hover {color:#000000;text-decoration:underline}   /* mouse over link */
a:active {color:#000000;text-decoration:underline}  /* selected link */


.listItems {
    width: 330px;
    height: 320px;
    position: relative;
    border-radius: 5px;
    border-style: solid;
    border-color:#FCFFFF;
    border: 0px;
    margin:5px;
    padding:0px;
    float: left;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
}
div.listItems img {
    width: 325px;
    padding: 0px;
    height: 225px;
    position: relative;
    z-index: 0;
}
div.listItems div.text{
    width:350px;
    height: 300px;
    margin:5px;
    position: relative;    
}

div.listItem div.text h3{
    margin:0px;
    padding: 0px;
    border: 0px;
    position: relative;    
}
.side_bar {
    border-radius: 5px;    
    margin:15px;    
    float: left;    
    height: 800px;
    width: 250px;    
    background: #E6E6E6;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);    
    position: relative;    
    //text-align: center;
    
}

.side_bar input[type="text"]{
    height: 27px;
    width: 45px;
    margin:2px 5px 10px 5px;
}

.side_bar input[type="checkbox"]{
    margin:0px 0px 10px 16px;
}

.side_bar input[type="submit"]{
    height: 27px;
    width: 35px;
    margin:2px 5px 10px 5px;
    background-image:url("images/button_right_a.gif");
}

.side_bar input[type="submit"]:hover{
    background-position:  5px 0px;
}

.side_bar hr.hr4{
    border-style:groove;
}
.side_bar div.rating{
    float: left;
    margin: 0px 5px;
    height: 30px;
    width: 30px;
    background-image:url("images/star1.png");    
}
.side_bar div.rating:hover{
    background-image:url("images/stra2.png");
}
.side_bar h4{
    margin: 10px 0px 10px 10px;
}

.side_bar h5{
    margin: 0px 0px 5px 14px;
}
